---
 const personalImageAlt = "Angel López"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p> ¡Hola! Mi nombre es Angel Miguel López Campos, soy de Venezuela y hace 3 años me mudé a Buenos Aires, Argentina. Un momento gratificante de mi carrera y que me marcó profundamente fue crear un sitio web por primera vez en PHP conectado a una base de datos MySQL, para un proyecto grupal que terminé realizando solo debido a problemas personales. Esta experiencia que fue desafiante fortaleció mi resiliencia y confirmó mi pasión por la programación. </p> 
  
  <p> Actualmente, estoy planificando mi tesis, que incluye documentación exhaustiva, diagramas de flujo, DER, casos de uso, diagrama de Gantt, matriz de seguridad y todo lo necesario para la elaboración de un proyecto "profesional". Mi proyecto, <strong>Elite Runners</strong>, es un ecommerce especializado en zapatos deportivos, y estoy emocionado por completarlo y poder graduarme. </p>

  </div>

  <img width="200" height="200" src="/yo.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
